{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database. --}}

<div class="container">
    <div class="row">
            {{#if Article}}
                    <button type="submit" class="scrape" id="{{this.id}}">Scrape</button>
                    </form>
            {{/if}}
        </div> <!-- End col s8 -->

        <!-- Column for burgers that are no longer available -->
        